$hdbg_color = #e54847
$font_color_block = #fff
$bd_color=#e5e5e5
html,body
    width 100%
.flex
    display flex
.flex1
    flex 1
.section-title
    font-size 17px
    color #000
.action-list.section-title
    padding-left 0.4rem
.nav
    height 1.067rem
    font-size 18px
    text-align center
    background-color $hdbg_color
    padding 6px
    box-sizing border-box
    .arrow-left
    float left
    height 100%
    position relative
        &:after
            content ''
            width 12px
            height 12px
            position absolute
            top 50%
            left 16px
            border 2px solid #fff
            border-width 0 0 2px 2px
            transform rotate(45deg) translateY(-50%)
    span 
        color $font_color_block
        display inline-block
.page
    background #f4f4f4
    position relative
    z-index 1
    margin 0
    color #555
    min-width 3.1rem
    // 取消高亮效果
    -webkit-tap-highlight-color rgba(255,255,255,0)
    font 14px/1.5 Arial,Helvetica,sans-serif
    section
        background #fff
        border-bottom 1px solid #e5e5e5
    .movie-header
        padding 0
        background #f8f8f8
        border-bottem none
        .movie
            color #ffffff
            padding 0.4rem
            line-height 1
            position relative
            box-sizing border-box
            
            filter blur(0) //变模糊，num越大，越模糊
            &-background,
            &-filter
                position absolute
                top 0
                right 0
                left 0
                bottom 0
            &-background
                z-index 0
                filter blur(0.6rem)
                -webkit-filter blur(0.6rem)
                background-image url(./images/header-bg.jpg)
                background-size cover//占满整个父容器
                background-repeat no-repeat
                background-position-y 40%
            &-filter
                background-color #40454d
                opacity 0.5
            &-container
                z-index 1
                position relative
                overflow hidden
                .movie-cover
                    float left
                    width 2.854rem
                    height 4rem
                    border 1px solid #f0f2f3
                    position relative
                    .img
                        width 100%
                        
                    &:after
                            content ''
                            display block
                            width 1.8rem
                            height 1.8rem
                            background-image url(./images/bofang.png)
                            background-size 100% auto
                            position absolute
                            left 50%
                            top 50%
                            transform translate(-50%,-50%)
                            opacity 0.7
            .movie-content
                overflow hidden
                padding-left 0.4rem
                .movie-name
                    font-size 17px
                    margin 0.08rem 0
                .movie-ename
                    font-size 12px
                    margin-bottom 0.3rem
                .movie-score
                    font-size 12px
                    margin-bottom 0.3rem
                    .rating
                        .img
                            width 0.48rem
                            margin-right 2px
                        .rating-score
                            font-size 0.48rem
                            color #ffc600
                .movie-detail
                    font-size 12px
                    margin-bottom 0.16rem
                    opacity 0.7
                    div,p
                        margin-bottom 0.14rem
            .operating
                margin-top 0.5rem
                div
                    border 1px solid rgba(255,255,255,0.4)
                    background-color rgba(255,255,255,0.4)
                    font-size 14px
                    color #ffffff
                    position relative
                    z-index 2
                    text-align center
                    padding 0.25rem 0
                    border-radius 4px
                    img 
                        // img图片的上下居中
                        vertical-align middle
                    span
                        vertical-align middle
                .movie-watch
                    margin-right 0.3rem
                    img
                        width 14px
                .movie-mark
                    img
                        width 18px   



    .section-seperate
        padding-top 0.4rem
        margin-bottom 0.3rem
        border-top 1px solid $bd_color
    .section-expender
        padding-left 0.4rem
        padding-right 0.4rem
        .text-expander
            &_content.close
                min-height: 65px;
                display -webkit-box
                overflow hidden
                text-overflow ellipsis // 内容超出则打点
                word-break break-all // 自动换行
                -webkit-box-orient vertical //
                -webkit-line-clamp 3 // 显示的行数
            &_button
                height 0.7rem
                text-align center
                .icon-chevron_down
                    display inline-block
                    width 10px
                    height 10px
                    border 1px solid #eee
                    border-width 0 1px 1px 0
                    transform rotateZ(45deg)
                    box-sizing border-box
                    transition transform .5s
                .icon-chevron_down.up
                    transform rotateZ(-135deg)
    .section-seperate
        .movie-celebrities
            width 100%
            padding 0.3rem .3rem .1rem .3rem
            overflow-x scroll
            white-space nowrap  //不换行
            box-sizing border-box
            li
                text-align center
                display inline-block
                padding 0.04rem
                .link
                    color #000000
                    .movie-celebrities_pic
                        width 1.7334rem
                        height 2.4rem
                        margin 0.05rem
                        img
                            width 100%
                    span
                        display block
                        font-size 0.2rem
                        text-overflow ellipsis
                        white-space nowrap 
                    .movie-celebrities_roles
                        color #999999
    .movie-booking
        padding-bottom 0.2rem
        .weui-flex
            text-align center
        .placeholder
            span
                font-size 24px
                color #d96a3d
            p
                color #bababa
                margin-top 0.1rem

    .section-seperate
        .movie-photo
            width 100%
            padding 0.3rem .3rem .1rem .3rem
            overflow-x scroll
            white-space nowrap  //不换行
            box-sizing border-box
            li
                text-align center
                display inline-block
                padding 0.04rem
                .link
                    color #000000
                    .movie-photo_pic
                        width 2.5rem
                        height 2.4rem
                        margin 0.03rem
                        img
                            width 100%
                            height 100%
                    &:first-child
                        width 3.3334rem
                        height 1.867rem
                    &:last-child
                        margin 0
     .section-seperate
        padding-left 0.4rem
        .pos_r
            
            position relative
            .join_comment
                position absolute
                font-size 14px
                background-color #e54847
                border-radius 20px
                color $font_color_block
                right 0
                top 8%
                transform translate(-8%)
                padding .1rem .3rem
        .movie-comment
            padding 0.2rem 0 .4rem 0
            overflow hidden
            .comment-item
                float left
                padding .1rem .25rem
                text-align center
                border 1px solid #aaa
                border-radius 20px
                margin-top 0.2rem
                margin-right 0.3rem
                            
#toast
    display none
.active
    display block !important



