* {
  margin: 0;
  padding: 0;
}
html,
body {
  background-color: #000;
  line-height: 1.5;
  font-family: "Open Sans", "Segoe UI", "Helvetica", sans-serif;
  -webkit-font-smoothing: antialiased;
  padding-top: 27px;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}
.center {
  text-align: center;
}
.very {
  padding: 0;
  margin: 0;
}
@media (max-width: 768px) {
  #mainbody .container,
  #mainbody padding 0 30px,
  #mainbody width 100%,
  #mainbody box-sizing border-box,
  #mainbody .thumbnails {
    margin-left: 0px;
  }
  #mainbody .container li,
  #mainbody padding 0 30px li,
  #mainbody width 100% li,
  #mainbody box-sizing border-box li,
  #mainbody .thumbnails li {
    float: none !important;
    margin-left: 0px;
  }
  #mainbody .container .span4,
  #mainbody padding 0 30px .span4,
  #mainbody width 100% .span4,
  #mainbody box-sizing border-box .span4,
  #mainbody .thumbnails .span4 {
    width: 100px !important;
  }
}
@media (min-width: max-width 980px) {
  #mainbody .container,
  #mainbody width 724px,
  #mainbody .thumbnails {
    margin-left: -20px;
  }
  #mainbody .container li,
  #mainbody width 724px li,
  #mainbody .thumbnails li {
    margin-left: 20px;
  }
  #mainbody .container .span4,
  #mainbody width 724px .span4,
  #mainbody .thumbnails .span4 {
    width: 228px !important;
  }
}
@media (min-width: 1200px) {
  #mainbody .container,
  #mainbody width 1170px,
  #mainbody .thumbnails {
    margin-left: -30px;
  }
  #mainbody .container li,
  #mainbody width 1170px li,
  #mainbody .thumbnails li {
    margin-left: 30px;
  }
}
@media (max-width: 1200px) {
  #mainbody .container,
  #mainbody width 1170px,
  #mainbody .thumbnails {
    margin-left: -30px;
  }
  #mainbody .container li,
  #mainbody width 1170px li,
  #mainbody .thumbnails li {
    margin-left: 30px;
  }
  #mainbody .container .span4,
  #mainbody width 1170px .span4,
  #mainbody .thumbnails .span4 {
    width: 300px !important;
  }
}
#mainbody {
  background: #f8f8f8;
}
#mainbody .noise {
  background: url("./images/white-noise.png");
}
#mainbody .tag-menu {
  position: relative;
}
#mainbody .tag-menu .menu {
  padding: 0;
  border-bottom: 1px solid #ddd;
  overflow: visible;
}
#mainbody .tag-menu .menu li {
  width: 24.5%;
  text-align: center;
  margin-right: 0;
  display: inline-block;
  padding-top: 5px;
a
  display: block;
  color: #808080;
  padding: 7px 23px;
  line-height: 1.9;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}
#mainbody .tag-menu .menu .active {
  color: #000;
}
#mainbody .very.relaxed {
  padding: 60px 0 120px 0;
}
#mainbody .very.relaxed .container {
  margin: 0 auto;
}
#mainbody .very.relaxed .container .maincontent {
  padding: 20px 0;
  position: relative;
}
#mainbody .very.relaxed .container .thumbnails {
  margin-top: 48px;
  overflow: hidden;
}
#mainbody .very.relaxed .container .thumbnails li {
  float: left;
  margin-bottom: 30px;
  margin-left: $jl30;
}
#mainbody .very.relaxed .container .thumbnails .span4 {
  width: 370px;
}
#mainbody .very.relaxed .container .thumbnails .thumbnail {
  display: block;
  background: #fff;
  border: 1px solid #f1f1f1;
  padding: 0;
  border-radius: 2px;
  line-height: 20px;
}
#mainbody .very.relaxed .container .thumbnails .thumbnail a {
  color: #333;
}
#mainbody .very.relaxed .container .thumbnails .thumbnail div {
  text-align: center;
}
#mainbody .very.relaxed .container .thumbnails .thumbnail .p20 {
  padding: 20px;
}
#mainbody .very.relaxed .container .thumbnails .thumbnail .p20 img {
  width: 163px;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
}
#mainbody .very.relaxed .container .thumbnails .thumbnail p {
  font-size: 16px;
  opacity: 0.75;
  margin: 0 0 20px;
}
#mainbody .very.relaxed .container .thumbnails .thumbnail .meta {
  border-top: 1px solid #f1f1f1;
  text-align: left;
  background: #fff;
  padding: 10px;
  color: #838383;
}
#mainbody .very.relaxed .container .thumbnails .thumbnail .pull-right {
  float: right;
}
