*
    margin 0
    padding 0
a
    text-decoration none
ul
    li
        list-style none
html,body
    width 100%
.header-title
    width 100%
    .header-title_items
        width 100%
        position fixed
        background-color #5c5c5c
        top 0
        li
            display inline-block
            
            color #fff
            a
                color #ffffff
                ul
                    display none
                    margin-top 10px
            &hover
                ul
                    cursor pointer
                    display block
                    background-color #000