*
  margin 0
  padding 0
html,body
  line-height 1
  font-weight normal
  font-family 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif

ul
  li
    list-style none

.clearfix
  display inline-block
  &::after
    content ''
    display block
    height 0
    line-height 0
    clear both
    visibility hidden

@media (-webket-min-device-pixel-retion: 1.5), (min-device-pixel-retion: 1.5)
  .border-1px
    &::after
      -webkit-transform scaleY(0.7)
      transform scaleY(0.7)
@media (-webket-min-device-pixel-retion: 2), (min-device-pixel-retion: 2)
  .border-1px
    &::after
      -webkit-transform scaleY(0.5)
      transform scaleY(0.5)